/* App */
body {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
}

h1 {
  margin-top: 20vh;
  width: 100vw;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav,
.app {
  width: 100%;
  text-align: center;
}

nav {
  border-bottom: 1px solid #e1e1e1;
  font-size: 90%;
  box-sizing: border-box;
  height: 41px;
}

nav > button {
  position: absolute;
  padding: 0 1.5em;
  border: none;
  line-height: 40px;
  background: none;
  color: #777;
}

nav > button:hover {
  color: #0288d1;
}

nav > button:focus {
  outline: 0;
}

nav > .signout {
  top: 0;
  right: 0;
}

nav > .settings {
  position: absolute;
  padding: 0 1.5em;
  border: none;
  line-height: 40px;
  background: none;
  color: #777;
  top: 5px;
  left: 0;
}


a {
  line-height: 40px;
  display: inline-block;
  text-decoration: none;
  color: #777;
}

a + a {
  margin-left: 1em;
}

a:hover,
.active {
  color: #03a9f4;
  border: none;
  outline: none;
}

input, select {
  width: 14em;
  display: block;
  padding: 0.6em;
  border-radius: 2px;
  border: 1px solid #e1e1e1;
  color: #777;
  height: 1.8rem;
  background: none;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
}

input:focus, select:focus {
  border: 1px solid #aaa;
  outline: 0;
}

.login {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login button {
  background: #03a9f4;
  color: white;
  font-size: 75%;
  margin: 2em 0.7em 0;
  padding: 0.5em;
  width: 5.5em;
  border: none;
  border-radius: 4px;
}

.login button:hover {
  background: #0288d1;
}

.login input {
  margin-top: 1.5em;
}
.auth-error {
  width: 100%;
  text-align: center;
  color: #d32f2f;
  line-height: 1.4;
  font-size: 90%;
}

table {
  margin-top: 5px;
  font-size: 80%;
  border: 0px solid red;
}

td {
  padding: 8px;
  line-height: 1.6;
  vertical-align: top;
  border-top: 1px solid #ddd;
  text-align: right;
}

thead td {
  text-align: center;
  font-weight: bold;
}

.edit-button {
  background: none;
}

.drp {
  position: relative;
  bottom: 2px;
}

.add-button-wrap {
  position: relative;
}

.add-button {
  position: absolute;
  background: #03a9f4;
  color: white;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  top: -29px;
  left: 0px;
  box-shadow: 2px 2px 2px 0 rgba(41, 41, 41, .3);
}

.add-button:hover {
  background: #29b6f6
}

.add-icon {
  position: absolute;
  width: 30px;
  height: 36px;
  left: 5px;
  top: 2px;
}

.page {
  margin-top:8px;
  border: 0px solid blue;
  position: relative;
}

.input-error {
  border-color: #d32f2f;
}

.label-error {
  color: #d32f2f;
}


.tick-button-wrap {
  width: 100;
  position: relative;
}

.tick-button {
  position: absolute;
  background: #03a9f4;
  color: white;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  right: 0px;
  box-shadow: 2px 2px 2px 0 rgba(41, 41, 41, .3);
}

.tick-button:hover {
  background: #29b6f6
}

.cancel-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  border: 0px solid blue;
  display: block;
  font-size: 180%;
  color: #777;
  padding: 0;
  border: 0px solid red;
}

.cancel-button:hover {
  color: #03a9f4;
}

.back-icon {
  border: 0px solid green;
  width: 20px;
  height: 20px;
  left: 5px;
  top: 2px;
}


.delete-button {
  text-decoration: underline;
  background: none;
  border: none;
  color: #03a9f4;
  border: 0px solid green;
  font-size: 70%
}

.delete-button:hover {
  color: #29b6f6;
}

.delete-row {
  width: 100%;
  padding-top: .5rem;
  padding-bottom: 2rem;
  border: 0px solid red;
  text-align: center;
}

.jojog-form {
  position: relative;
  border: 0px solid red;
  text-align: left;
  padding-top: 2rem
}

.jojog-form label {
  font-size: 70%;
  border: 0px solid blue;
  padding: 0;
}

.jojog-form input, .jojog-form select{
  margin-bottom: 1rem;
  margin-top: .2rem;
  width: 100%;
}

.info {
  margin-top: 5em;
  max-width: 18rem;
  line-height: 1.8;
}

.info button {
  background: none;
  color:#03a9f4;
  font-size: 100%;
}

.info button:hover {
  color:#29b6f6;
}
.settings-error {
  border: 0px solid blue;
  width: 8.2rem;
  margin: 0 auto;
  text-align: center;
  color: #d32f2f;
  line-height: 1.4;
  font-size: 70%;
  padding-bottom: 2em;
}
.no-top {
  border-top: none;
}

.jogs-button {
  border: 0px solid red;
  background: none;
  color:#777;
  text-decoration: underline;
  font-size: 100%;
}

.jogs-button:hover {
  color:#03a9f4;
}

.error-cancel-button {
  background: none;
  color: #777;
}
h2 {
  padding: 1rem;
}
